In [1]:
# Creates training.csv and testing.csv 
from PIL import Image
import numpy as np
import pandas as pd
import random
import os

In [2]:
train_fp = "train_DETg9GD/Train/"
test_fp = "test_Bh8pGW3/Test/"

In [7]:
t = Image.open(train_fp+"1.jpg").convert("L")

In [8]:
np.shape(t)

(387, 309)

In [3]:
train_filenames = os.listdir(train_fp) 
test_filenames = os.listdir(test_fp)

In [78]:
def extractPixels(filenames,mode): # mode = train(0)/test(1)
    finalDB = dict()
    if mode:
        maindir = test_fp
    else:
        maindir = train_fp
    
    for filename in filenames:
        fp = maindir + filename
        img = np.array(Image.open(fp).convert("L").resize([28,28]))
        pixels = img.flatten() # 784
        #print(np.shape(pixels))

        finalDB[filename] = pixels
    
    return(finalDB)

In [121]:
#trainingDB = extractPixels(train_filenames,0)
testingDB = extractPixels(test_filenames,1)

In [117]:
training_df = pd.DataFrame.from_dict(trainingDB).T

In [122]:
testing_df = pd.DataFrame.from_dict(testingDB).T

In [123]:
testing_df.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
10.jpg,12,11,12,15,13,10,14,45,66,84,...,106,108,116,136,141,118,98,94,89,78
1000.jpg,53,38,25,25,35,80,127,123,128,122,...,31,30,29,28,27,23,24,22,26,29
10002.jpg,10,7,5,7,5,3,7,0,10,13,...,162,160,158,159,153,150,147,145,142,140
10003.jpg,24,35,25,13,31,58,79,105,106,103,...,69,44,27,45,83,109,103,74,65,60
10005.jpg,95,94,80,100,108,134,141,160,166,175,...,147,134,132,145,155,180,169,122,113,110

In [119]:
training_df.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0.jpg,82,220,197,168,162,162,198,191,133,95,...,47,49,52,59,73,95,122,145,172,180
1.jpg,27,34,60,73,77,89,102,100,106,101,...,60,57,50,43,43,43,43,50,51,58
100.jpg,37,22,18,15,24,35,32,42,44,42,...,49,49,46,39,40,36,13,40,54,122
10000.jpg,15,21,38,36,42,45,40,38,18,18,...,78,89,96,92,85,78,75,70,51,34
10001.jpg,84,75,78,80,80,91,104,123,130,144,...,93,92,82,92,101,98,101,98,133,145

In [124]:
# writing to csv files
training_df.to_csv("training.csv",sep = ",")
testing_df.to_csv("testing.csv",sep = ",")